.button
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width: 1em;
    padding: 5px;
    border: none;
    border-radius: 20px;

    cursor: pointer;
    background-color: white;
    transition: background-color 0.5s;
    color: #333;
    font-size: var(--m);
}

.button:hover
{
    background-color: #eee;
}

.button--disabled,
.button--disabled:hover
{
    color: #aaa;
    background-color: white;
}